.container {
    margin-left: 59px;
    margin-top: 45px;
}

.headerText {
    font-weight: bold;
    font-size: xx-large;
}

.titleText {
    font-weight: 600;
    font-size: x-large;
}

.componentTitle {
    font-size: 18px;
    font-weight: 600;
}

.text20 {
    font-size: 20px;
    font-weight: 600;
}

.text18 {
    font-size: 18px;
}

.text16 {
    font-size: 16px;
}

.text12 {
    font-weight: 700;
    font-size: 12px;
}

.text10 {
    font-weight: 700;
    font-size: 10px;
}

.text8 {
    font-weight: 700;
    font-size: 8px;
}

.gray {
    color: gray;
}

li {
    padding-inline-start: 10px;
}

input {
    margin-inline-start: 1px;
}

.icon {
    /* height: 100%; */
    position: relative;
    bottom: 10px;
    display: inline-block;
    font-size: 14px;
}

.inputWrapper {
    margin-top: 15px;
    margin-left: 20px;
}