.warpper {
    margin-left: 59px;
    margin-top: 45px;
}

.Provider {
    margin-top: 10px;
    padding-inline-start: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.latestOrderId {
    margin-top: 20px;
}

.latestOrderId-button-wrapper {
    display: inline-flex;
    align-items: center;
}

.latestOrderId-button {
    margin-inline-start: 3px;
}