.warpper {
    margin-left: 59px;
    margin-top: 45px;
}

.provider {
    margin-top: 10px;
    padding-inline-start: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.latestOrderId {
    padding-top: 15px;
    padding-bottom: 11px;
}

.latestOrderId-Text {
    font-size: 30px;
    font-weight: 300;
    padding-inline-start: 5px;
}

.latestOrderId-button-wrapper {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.latestOrderId-button {
    margin-inline-start: 7px;
}

.message {
    display: block;
    color: #9b9b9b;
    font-family: Inter, sans-serif;
    font-size: 14px;
}